@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any custom global styles here */
body {
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  background-color: #FEFBEB;
  color: #101828;
}